<app-loading *ngIf="loadingArtist"></app-loading>


<div class="row animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-2">
        <img class="img-thumbnail img-circle" [src]="artista.images | noimage" />
    </div>
    <div class="col">
        <h1>{{ artista.name }}</h1>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blanc">
                Ver más en Spotify
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            Volver
        </button>
    </div>
</div>


<div class="row mt-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Disco</th>
                    <th>Canción</th>
                    <th>Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img class="img-thumb" [src]="track.album.images | noimage" alt="">
                    </td>
                    <td> {{ track.album.name }}</td>
                    <td> {{ track.name }} </td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>